@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="card">
    <h5 class="card-header">Acerca del sitio</h5>
    <div class="card-body">
        <h5 class="card-title">Te gusta una canción, dile al mundo cual es!</h5>
        <p class="card-text">Tus publicaciones se convierten en propiedad de todos. Puedes borrar o modificar las publicaciones de los demás y los demás pueden hacer lo mismo con las tuyas.</p>
    </div>
</div>
<div class="card">
    <h5 class="card-header">NO a la pirateria</h5>
    <div class="card-body">
        <h5 class="card-title">No puedes subir canciones</h5>
        <p class="card-text">Esto no es un sitio para compartir archivos de música, sino para decirle al mundo tus gustos.</p>
    </div>
</div>
